<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<dbconfig>
    <dburl>jdbc:oracle:thin:@optimus.internal.unanet.com:1521:pdborcl.internal.unanet.com</dburl>
	<dbuser>tsg_102</dbuser>
	<dbpass>tsg_102</dbpass>
    <dbdriver>oracle.jdbc.driver.OracleDriver</dbdriver>
    <companyname>Unanet</companyname>
    <treequery>
SELECT
       DISTINCT customer.customer_code || ' - ' || customer.customer_name "START",
       invoice.invoice_number "Invoice Number",
       'VOUCHER - ' || expense_report.expense_report_key "Voucher",
       project.project_code || ' - ' || project.title "Project Title",
       attachment.attachment_name "END",
       attachment.attachment_key "KEY",
       project.project_code "Project Code",
       invoice.invoice_date "Invoice Date"
FROM
       customer,
       project,
       invoice,
       invcd_expense,
       expense_report,
       expense_report_attachment,
       attachment,
       expense_data,
       expense_data_allocation
WHERE
       invoice.invoice_date BETWEEN ? AND ? AND
       invoice.invoice_key                       = invcd_expense.invoice_key AND
       invcd_expense.expense_data_allocation_key = expense_data_allocation.expense_data_allocation_key AND
       expense_report.expense_report_key         = expense_data.expense_report_key AND
       expense_data.expense_data_key             = expense_data_allocation.expense_data_key AND
       expense_data_allocation.project_key       = project.project_key AND
       project.customer_key                      = customer.customer_key AND
       expense_report.expense_report_key         = expense_report_attachment.expense_report_key AND
       expense_report_attachment.attachment_key  = attachment.attachment_key
ORDER BY
       customer.customer_code || ' - ' || customer.customer_name,
       invoice.invoice_number,
       'VOUCHER - ' || expense_report.expense_report_key,
       project.project_code || ' - ' || project.title,
       attachment.attachment_name
       </treequery>
       <treequery2>
SELECT DISTINCT
    customer.customer_code || ' - ' || customer.customer_name "START",
    'VOUCHER - ' || expense_report.expense_report_key "VOUCHER",
    project.project_code || ' - ' || project.title "TITLE",
    attachment.attachment_name "END",
    attachment.attachment_key "KEY",
    expense_report.post_date
FROM
    expense_report
LEFT JOIN expense_data
ON expense_report.expense_report_key = expense_data.expense_report_key
LEFT JOIN expense_data_allocation
ON expense_data.expense_data_key = expense_data_allocation.expense_data_key
LEFT JOIN project
ON expense_data_allocation.project_key = project.project_key
LEFT JOIN customer
ON project.customer_key = customer.customer_key
LEFT JOIN expense_report_attachment
ON expense_report.expense_report_key = expense_report_attachment.expense_report_key
LEFT JOIN attachment
ON expense_report_attachment.attachment_key  = attachment.attachment_key
WHERE expense_report.post_date BETWEEN ? AND ?
ORDER BY attachment.attachment_key
		</treequery2>
		<blobquery>
SELECT
        customer.customer_code || ' - ' || customer.customer_name "START",
        invoice.invoice_number "Invoice Number",
        'VOUCHER - ' || expense_report.expense_report_key "VOUCHER",
        project.project_code || ' - ' || project.title "END",
        attachment.attachment_name "NAME",
        attachment.attachment_key "KEY",
        attachment.attachment_data "BLOB"
FROM
        customer,
        project,
        invoice,
        invcd_expense,
        expense_report,
        expense_report_attachment,
        attachment,
        expense_data,
        expense_data_allocation
WHERE
        invoice.invoice_key                       = invcd_expense.invoice_key AND
        invcd_expense.expense_data_allocation_key = expense_data_allocation.expense_data_allocation_key AND
        expense_report.expense_report_key         = expense_data.expense_report_key AND
        expense_data.expense_data_key             = expense_data_allocation.expense_data_key AND
        expense_data_allocation.project_key       = project.project_key AND
        project.customer_key                      = customer.customer_key AND
        expense_report.expense_report_key         = expense_report_attachment.expense_report_key AND
        expense_report_attachment.attachment_key  = attachment.attachment_key AND
        attachment.attachment_key                IN (?)
ORDER BY
        attachment.attachment_key
		</blobquery>
		<blobquery2>
SELECT
        customer.customer_code || ' - ' || customer.customer_name "START",
        'VOUCHER - ' || expense_report.expense_report_key "VOUCHER",
        project.project_code || ' - ' || project.title "END",
        attachment.attachment_name "NAME",
        attachment.attachment_key "KEY",
        attachment.attachment_data "BLOB"
FROM
        customer,
        project,
        expense_report,
        expense_report_attachment,
        attachment,
        expense_data,
        expense_data_allocation
WHERE
        expense_report.expense_report_key         = expense_data.expense_report_key AND
        expense_data.expense_data_key             = expense_data_allocation.expense_data_key AND
        expense_data_allocation.project_key       = project.project_key AND
        project.customer_key                      = customer.customer_key AND
        expense_report.expense_report_key         = expense_report_attachment.expense_report_key AND
        expense_report_attachment.attachment_key  = attachment.attachment_key AND
        attachment.attachment_key                IN (?)
ORDER BY
        attachment.attachment_key
		</blobquery2>
		<reportquery>
SELECT    
    project.title,    
    expense_report.expense_report_key "VOUCHER",
    expense_data.expense_date,    
    person.first_name || ' ' || person.last_name "PERSON",    
    task.task_name,    
    expense_type.expense_type_name,    
    expense_data.amount,   
    project.project_code  
FROM    
    expense_report    
LEFT JOIN expense_data    
    ON expense_report.expense_report_key = expense_data.expense_report_key    
LEFT JOIN expense_project_allocation    
    ON expense_report.expense_report_key = expense_project_allocation.expense_report_key    
LEFT JOIN project    
    ON expense_project_allocation.project_key = project.project_key    
LEFT JOIN task    
    ON expense_project_allocation.task_key = task.task_key    
LEFT JOIN person    
    ON expense_report.owner_key = person.person_key    
LEFT JOIN expense_type    
    ON expense_type.expense_type_key = expense_data.expense_type_key    
WHERE    
    expense_report.expense_report_key = ?
		</reportquery>
</dbconfig>
