<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE xml-->
<dbconfig>
    <dburl>jdbc:oracle:thin:@optimus:1521:pdborcl.internal.unanet.com</dburl>
	<dbuser>tsg_102</dbuser>
	<dbpass>tsg_102</dbpass>
    <dbdriver>oracle.jdbc.driver.OracleDriver</dbdriver>
    <companyname>Unanet</companyname>
    <treequery>
    SELECT
       DISTINCT customer.customer_code || ' - ' || customer.customer_name "Customer",
       invoice.invoice_number "Invoice Number",
       'VOUCHER - ' || expense_report.expense_report_key "Voucher",
       project.project_code || ' - ' || project.title "Project Title",
       attachment.attachment_name "Attachment Name",
       attachment.attachment_key "Attachment Key",
       project.project_code "Project Code",
       invoice.invoice_date "Invoice Date"
FROM
       customer,
       project,
       invoice,
       invcd_expense,
       expense_report,
       expense_report_attachment,
       attachment,
       expense_data,
       expense_data_allocation
WHERE
       invoice.invoice_date BETWEEN ? AND ? AND
       invoice.invoice_key                       = invcd_expense.invoice_key AND
       invcd_expense.expense_data_allocation_key = expense_data_allocation.expense_data_allocation_key AND
       expense_report.expense_report_key         = expense_data.expense_report_key AND
       expense_data.expense_data_key             = expense_data_allocation.expense_data_key AND
       expense_data_allocation.project_key       = project.project_key AND
       project.customer_key                      = customer.customer_key AND
       expense_report.expense_report_key         = expense_report_attachment.expense_report_key AND
       expense_report_attachment.attachment_key  = attachment.attachment_key
ORDER BY
       customer.customer_code || ' - ' || customer.customer_name,
       invoice.invoice_number,
       'VOUCHER - ' || expense_report.expense_report_key,
       project.project_code || ' - ' || project.title,
       attachment.attachment_name
       </treequery>
       <blobquery>
       SELECT
        customer.customer_code || ' - ' || customer.customer_name "Customer",
        invoice.invoice_number "Invoice Number",
        'VOUCHER - ' || expense_report.expense_report_key "Voucher",
        project.project_code || ' - ' || project.title "Project Title",
        attachment.attachment_name "Attachment Name",
        attachment.attachment_key "Attachment Key",
        invoice.invoice_date "Invoice Date",
        attachment.attachment_data
FROM
        customer,
        project,
        invoice,
        invcd_expense,
        expense_report,
        expense_report_attachment,
        attachment,
        expense_data,
        expense_data_allocation
WHERE
        invoice.invoice_key                       = invcd_expense.invoice_key AND
        invcd_expense.expense_data_allocation_key = expense_data_allocation.expense_data_allocation_key AND
        expense_report.expense_report_key         = expense_data.expense_report_key AND
        expense_data.expense_data_key             = expense_data_allocation.expense_data_key AND
        expense_data_allocation.project_key       = project.project_key AND
        project.customer_key                      = customer.customer_key AND
        expense_report.expense_report_key         = expense_report_attachment.expense_report_key AND
        expense_report_attachment.attachment_key  = attachment.attachment_key AND
        attachment.attachment_key                IN (?)
ORDER BY
        attachment.attachment_key
		</blobquery>
		<reportquery>
SELECT    
    project.title,    
    expense_report.expense_report_key "VOUCHER",
    expense_data.expense_date,    
    person.first_name || ' ' || person.last_name "PERSON",    
    task.task_name,    
    expense_type.expense_type_name,    
    expense_data.amount,   
    project.project_code  
FROM    
    expense_report    
LEFT JOIN expense_data    
    ON expense_report.expense_report_key = expense_data.expense_report_key    
LEFT JOIN expense_project_allocation    
    ON expense_report.expense_report_key = expense_project_allocation.expense_report_key    
LEFT JOIN project    
    ON expense_project_allocation.project_key = project.project_key    
LEFT JOIN task    
    ON expense_project_allocation.task_key = task.task_key    
LEFT JOIN person    
    ON expense_report.owner_key = person.person_key    
LEFT JOIN expense_type    
    ON expense_type.expense_type_key = expense_data.expense_type_key    
WHERE    
    expense_report.expense_report_key = ?
		</reportquery>

</dbconfig>
